body { 
	margin:0;
	padding:0; 
	background-color: #4FC1E9;
}

#map { 
	position:absolute;
	top:200px;
	bottom:0;width:100%;
}	

.ui-select {
  background:#fff;
  position:absolute;
  top:216px;
  right:10px;
  z-index:100;
  padding:10px;
  border-radius:3px;
  }

header h1 {
  display: block;
  text-align: center;
  color: #fff;
  font-family: Puritan;
}

li {
  display: inline;
  text-align: center;
}

#nav {
  width:750px;
  margin:0 auto;
  list-style:none;
  padding: 0;
  background-color: #f2f2f2;

}

#nav li {
  float:left;
}

#nav a {
  display:block;
  text-align:center;
  width:150px;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  border-right: 1px solid #ccc; }

#nav li:first-child a {
  border-left: 1px solid #ccc; }

#nav li a:hover {
  color: #c00;
  background-color: #fff; }  

}
